.asideContainer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.searchForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30%;
}

.searchForm__input {
  border: none;
  font-size: 1rem;
  padding: 1rem 2rem;
}

.searchForm__button {
  background-color: #8d56fd;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0.4rem;
  font-weight: bold;
  width: 50%;
}

.musics {
  height: 70%;
}

.musics__title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.musics__list {
  list-style: none;
}

.musics__list__item {
  font-size: 0.8rem;
  padding: 0.3rem 0;
}
